@model ASP.NET_MVC_KENDO.Models.Book

@{
    ViewBag.Title = "ViewBook";
}

<h2>ViewBook</h2>

<div>
    <p>@Model.Title</p>
    <p>@Model.Content</p>
    <p>@Model.Category.Name</p>
    <p>@Model.ISBN</p>
    <p>@Model.Website</p>
</div>